@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
@import "compass/css3";
@import '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css';


*{
    padding: 0px;
    margin: 0px;
}
section{
    padding: 0px;
}
a, a:hover, a:focus, a:active{
    text-decoration: none;
    outline: none !important;
}
#mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Allerta Stencil', sans-serif !important;
}
.heading-title{
    color: #000000;
}
.heading-title h1 {
    font-weight: 1000;
    text-transform: uppercase;
    font-family: Raleway,Arial,Helvetica,sans-serif;
    color: #fff;
}
.heading-title h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Allerta Stencil', sans-serif !important;
}
.heading-title p {
    color: #ffffff;
    opacity: 1;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif !important;
}
.color-style{
    color: #f8b500 !important;
}

/* ===============< Navbar Section Starts >============ */
#mainNav .navbar-nav .nav-item .nav-link{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: 0.5s all ease-in-out;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #feb12c;
}
#mainNav .navbar-nav .nav-item .nav-link.active, 
#mainNav .navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
    font-size: 16px;
    transition: 0.5s all ease-in-out;
}
#mainNav .navbar-nav .nav-item .nav-link.active{
    color: #f8b500 !important;
}
#mainNav .navbar-nav .nav-item .nav-link.active:hover{
    color: #fff !important;
}
/* ================< Navbar Section Ends >============= */


/* ===============< Header Section Starts >============ */

.service-heading {
    margin: 15px 0;
    text-transform: none;
    color: #ffe792;
}

header.masthead {
    text-align: center;
    color: #fff;
    background-image: url(../img/header-bg.jpg); 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 660px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
}
/*@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 100px 100px; }
}*/
.header-overlay {
    height: 660px;
    background: linear-gradient(to bottom, #bebcbc59, #000000a6);
}
header.masthead .intro-text {
    padding-top: 14%;
    padding-bottom: 0px;
}
header.masthead .intro-text .intro-lead-in {
    margin-bottom: 10px;
    text-transform: uppercase;
}
header.masthead .intro-text .intro-heading {
    margin-bottom: 30px;
    font-family: Raleway,Arial,Helvetica,sans-serif;
    font-weight: 1000;
    font-size: 5.2rem;
}
header.masthead .intro-text p{
    padding-bottom: 70px;
}
.custom-lead {
    font-style: normal !important;

    font-family: 'Allerta Stencil', sans-serif !important;
}
p.custom-style {
    color: #fff;
    font-size: 16px;
    font-family: 'Allerta Stencil', sans-serif !important;
}
.btn-custom {
    min-width: 200px;
    height: 50px;
    padding-top: 10px;
    box-shadow: none;
    margin-top: 5px;
    outline: none;
    color: #f8b500;
    border-color: #f8b500;
    border-radius: 0.3rem;
}
.btn-custom:hover{
    color: #000000;
    border-color: #f8b500;
    background-color: #f8b500;
}
.btn-outline-warning.btn-custom:not(:disabled):not(.disabled):active, 
.show>.btn-outline-warning.btn-custom.dropdown-toggle {
    background-color: #f8b500;
    border-color: #f8b500;
}
.btn-outline-warning:not(:disabled):not(.disabled).active:focus, 
.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-warning.dropdown-toggle:focus{
    box-shadow: none !important;
}



/*================= about start ====================*/
.about-part {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #17182a;
}
.about-part .left-part{
    /*ackground-image: url(../img/left_back_about.png);
    background-repeat: no-repeat;*/
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
.about-part .right-part .quality {
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 30px 10px;
    margin: 10px 0px;
    transition: all 0.3s ease-in-out;
    height: 130px;
}
.about-part .right-part .quality i {
    padding-bottom: 10px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.about-part .right-part .quality h6 {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}
.about-part .right-part .quality:hover{
    box-shadow: 0px 0px 32px -5px rgba(0,0,0,0.08);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.about-part .right-part .quality:hover i{
    color: #f8b500;
    transition: all 0.3s ease-in-out;
}
.about-part .right-part .quality:hover h6{
    transition: all 0.3s ease-in-out;
}

.about-part .overlay-right {
    min-height: 100vh;
    background: linear-gradient(to top, #8d959e4d, #282a2d);
}

.about-part .right-part{
    align-items: center;
}
/*================= about close ====================*/


/*================= service start ====================*/

.service-part {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #212529;
}
.our-services .service {
    background: #fff;
    border: 1px solid #c4bdbd;
    border-radius: 5px;
    padding: 30px 10px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 25px;
    height: 350px;
}
.our-services .service p{
    color:#000;
}
.our-services .service i{
    padding-bottom: 10px;
    color: #000;
    transition: all 0.3s ease-in-out;
    padding-top: 24px;
}
.our-services .service h6 {
    color: #38347b;
    transition: all 0.3s ease-in-out;
    font-family: 'Allerta Stencil', sans-serif !important;
    font-size: 24px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

.service{
    min-height: 170px;
}
.service:hover {
    box-shadow: 0px 0px 15px 1px #19566dd4;
    cursor: pointer;
}
.service:hover .fas{
    color: #1d1c2c;
}
.service:hover .fab{
    color: #1d1c2c;
}

/*============= service affect ============*/

.icon {
  position: relative;
  display: inline-block;
  font-size: 45px;
  cursor: pointer;
  margin: 15px 30px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 50%;
  text-align: center;
  z-index: 1;
  color: #fff;
}

.icon:after {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
}
/* Effect 1 */
.icon-effect-1 .icon {
  background: rgba(255,255,255,0.1);
  transition: background 0.2s, color 0.2s;
}

.icon-effect-1 .icon:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px #fff;
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(.8);
  opacity: 0;
}

/* Effect 1a - Ring out */
.no-touch .icon-effect-1a .icon:hover {
  background: rgba(255,255,255,1);
  color: #333;
}

.no-touch .icon-effect-1a .icon:hover:after {
  transform: scale(1);
  opacity: 1;
}

/* Effect 1b - Ring in */
.no-touch .icon-effect-1b .icon:hover {
  background: rgba(255,255,255,1);
  color: #333;
}

.icon-effect-1b .icon:after {
  transform: scale(1.2);
}

.no-touch .icon-effect-1b .icon:hover:after {
  transform: scale(1);
  opacity: 1;
}

/*================= service close ====================*/


/*================= team start ====================*/
.team-part {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #17182a;
}
.team {
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 25px;
}
.team:hover, .team:active, .team:focus {
    box-shadow: 0px 0px 8px 1px #ccc;
}
.zoom, .small {
    overflow: hidden;
    padding: 0;
    width: 180px;
    height: 180px;
    border: 5px solid #c4c1c1;
    border-radius: 100%;
    float: left;
    margin: 10px;
}
.zoom img {
    transition-duration: 2s;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
}
.zoom img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}
.small img{
  transition-duration: 2s;
    margin: 0 auto;
    display: block;
  transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
}
.small img:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    z-index: 0;
}

.social-team {
    padding: 10px 0px;
}
.social-team ul{
    style-type: none;
}
.social-team ul li{
   
}
.social-team ul li a {
    width: 40px;
    height: 40px;
    padding: 7px;
    margin: 0px 5px;
    border-radius: 100%;
    border: 1px solid #403737;
}
.twitter{
    color: #1da1f2;
    background: #fff;
}
.facebook{
    background: #3b5998;
    color: #fff;
}
.youtube{
    color: red;
    background: #fff;
}
.social-team ul li a:hover {
    background: #454f45cc;
    color: #fff;
}
.linkdin{
    color: #fff;
    background: #1da1f2;
}
.position {
    padding: 5px 0px;
    color: #000;
    font-family: 'Allerta Stencil', sans-serif !important;
    text-align: center;
}
.position p{
    color: #000;
}
/*================= team close ====================*/




/*================= Contact-Part start ====================*/
.contact-part{
    padding: 70px 0;
    background-color: #212529;
    background-image: none !important;
}
.contact-form{
    padding-bottom: 15px;
}

.form-control {
    background-color: transparent;
    border-color: #f8b500;
    color: #fff;
}
.form-control-lg {
    height: calc(2.6875rem + 2px);
    padding: .5rem 1rem;
    font-size: 12px;
    line-height: 2;
    border-radius: 0.3rem;
}
.form-control:focus {
    color: #ffffff;
    background-color: transparent !important;
    border: 1px solid #f8b500 !important;
}
@media screen(min:768) {
    .contact-part .contact-us .heading-title{
        margin-top: 15px;
    }
}

.contact-part .contact-us .heading-title{
    padding-top: 0px;
    margin-top: -15px;
    color: #fff;
}
.contact-part .contact-us .heading-title h2{
    font-size: 24px;
}
.contact-part .contact-us .heading-title p{
    padding-top: 0px;
    text-align: left;
    color: #fff;
    opacity: 1;
}
.contact-part .contact-us .heading-title ul>li{
    display: -webkit-box !important;
    padding-bottom: 8px;
}
.contact-part .contact-us .heading-title ul>li i{
    font-size: 18px;
    border: 1px solid #666;
    border-radius: 3px;
}
.contact-part .contact-us .heading-title ul>li:nth-child(1) i{
    padding: 5px 7px;
}
.contact-part .contact-us .heading-title ul>li:nth-child(2) i{
    padding: 5px 6px;
}
.contact-part .contact-us .heading-title ul>li:nth-child(3) i{
    padding: 5px 8px;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #f8b500;
    border: 1px solid #f8b500;
    border-radius: .25rem;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    background: #212529;
    border: 1px solid #f8b500;
    color: #fff;
    font-weight: 700;
    font-family: monospace;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.19rem + 15px);
    padding: .375rem 1.75rem .375rem 0.75rem;
    line-height: 1.6;
    color: #ffffff;
    vertical-align: middle;
    background: #212529;
    padding-left: 57px;
    background-size: 8px 10px;
    border: 1px solid #f8a717;
    border-radius: 0.3rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
}

/*================= Contact-Part close ====================*/



/*================= footer start ====================*/

.logic-footer {
    background: #1d2024;
}
.greatings{
    color: #eee;
}

.footer-team{
    padding: 0px;
}

footer {
    padding: 15px 0;
    text-align: center;
}

.footer-social {
    padding: 10px 0px;
}
.footer-social ul{
    style-type: none;
}
.footer-social ul li{
   
}
.footer-social ul li a {
    width: 40px;
    height: 40px;
    padding: 7px;
    margin: 0px 5px;
    border-radius: 100%;
    border: 1px solid #403737;
}

.fa-custom{
    font-size: 1.6em;
}

/*================= footer close ====================*/


